/* tibiboard30_left.overlay - 最小構成 */

#include "tibiboard30.dtsi"

&kscan {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";
    
    /* wakeup-source も一旦消す（シンプルにするため） */

    /* 行 (Rows) */
    row-gpios
        = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    /* 列 (Cols) */
    col-gpios
        = <&xiao_d 6 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
        , <&xiao_d 4 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>
        ;
};

&transform {
    col-offset = <0>;
};

/* --- 以下、振動モーターやLEDの定義はすべて削除 --- */
