#include "tibiboard30.dtsi"

&kscan {
    col-gpios
        = <&xiao_d  2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d  3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d  4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d  5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d  6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};
