/* config/boards/shields/tibiboard30/tibiboard30_right.overlay */

#include "tibiboard30.dtsi"

&default_transform {
    col-offset = <5>;
};

/* 1. モーター設定 */
/* 右側にはモーターが無いので、ここには何も書かない！ */

/* 2. マトリックス設定 */
/* 左側と合わせて、ここだけ PULL_DOWN に戻しておく（重要！） */
&kscan {
    col-gpios
        = <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};
