manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      
      # ★ここ バージョン名を書くだけでOK！
      revision: v0.3.0
      import: app/west.yml
  self:
    path: config
